<div class="card xichxuong" >
    <div class="card-header">
      Đăng Nhập
    </div>
    <div class="card-body">
        <!--login form-->
        <form>
          <div class="mb-3">
            <input type="text" class="form-control" id="username" >

          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
          <button type="submit" class="btn btn-primary" nutPhai>Register</button>
        </form>
        <!--login form-->
              <h3>Wellcom teo</h3>
              <button type="submit" class="btn btn-primary">Logout</button>

        <!--wellcom-->
    </div>
  </div>